:root {
    --text: #fafbff;
    --background: #000105;
    --primary: #035f8f;
    --secondary: #1c1c1c;
    --accent: #11e1db;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body::-webkit-scrollbar {
    display: none;
}

/* width */
form::-webkit-scrollbar {
    width: 5px;
}


/* Track */
form::-webkit-scrollbar-track {
    background: gainsboro;
}

/* Handle */
form::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
form::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}

header {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text);
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 #000;
    position: fixed;
    top: 0;
    z-index: 5;
}

#header-logo {
    height: inherit;
    text-decoration: none;
}

#header-logo img {
    max-height: 10vh;
    object-fit: contain;
}

header nav {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 12vh;
    padding: 0 2.5%;
    position: relative;
}

/* Vertical Progress Bar */
div.progress-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Progress Bar line across steps */
div.progress-bar progress#progressline {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 5px;
    background-color: gainsboro;
    z-index: -1;
}

/* Necessary to override the default progress bar background color */
div.progress-bar progress#progressline::-webkit-progress-bar{
    width: 10px;
    background-color: transparent;
}

div.progress-bar progress#progressline::-webkit-progress-value{
    background-color: var(--primary);
    transition: height 450ms ease;
}

/* Horizantal Progress Bar */
div.progress-bar-horizantal {
    margin: 0 auto 5px;
    position: relative;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Progress Bar line for tablets below across steps */
div.progress-bar-horizantal progress#progressline {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background-color: gainsboro;
    z-index: -1;
}

div.progress-bar-horizantal progress#progressline::-webkit-progress-bar{
    height: 5px;
    background-color: transparent;
}

div.progress-bar-horizantal progress#progressline::-webkit-progress-value{
    background-color: var(--primary);
    transition: width 450ms ease;
}

button.step {
    width: 30px;
    aspect-ratio: 1/1;
    text-decoration: none;
    border-radius: 50%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}


button.step:disabled::before,
button.step:disabled::after{
    color: gainsboro !important;
    cursor: default;
}

div.progress-bar .step:nth-of-type(1)::before {
    content: "Form";
    position: absolute;
    top: -20px;
    font-size: 90%;
    color: #000;
}

div.progress-bar .step:nth-of-type(2)::after {
    content: "Payment";
    position: absolute;
    bottom: -20px;
    font-size: 90%;
    color: #000;
}

div.progress-bar-horizantal .step:nth-of-type(1)::before {
    content: "Form";
    position: absolute;
    bottom: -20px;
    font-size: 90%;
    color: #000;
}

div.progress-bar-horizantal .step:nth-of-type(2):before {
    content: "Summary";
    position: absolute;
    bottom: -20px;
    font-size: 90%;
    color: #000;
}

div.progress-bar-horizantal .step:nth-of-type(3):before {
    content: "Payment";
    position: absolute;
    bottom: -20px;
    font-size: 90%;
    color: #000;
}


button.step-active {
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;
}

#fill-form {
    width: 100%;
    height: 86vh;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fill-form form {
    width: 100%;
    height: 95%;
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    box-sizing: border-box;
}

#fill-form form h2 {
    margin: 1% 0 2% 0;
}

/* #fill-form form section:not(:last-of-type) {
    display: flex;
    flex-direction: column;
} */

#fill-form form .input-text {
    border: 1.5px solid darkgray;
    border-radius: 5px;
    padding: 1% 2%;
    font-size: 1.125rem;
    outline: none;
}

input.input-text.invalid {
    border: 1.5px solid red;
}

.entity {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.entity div {
    flex: 1 1 40%;
    aspect-ratio: 3/2.5;
    border: 1px solid gainsboro;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.entity div:focus-within {
    border: 2px solid black;
}

.entity div .select {
    width: 100%;
    height: 100%;
    appearance: none;
    position: absolute;
}

.entity div .plans {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid darkgray;
    margin: 0;
    appearance: none;
    position: absolute;
    top: 8%;
    right: 10%;
}

.entity div .select:checked~.plans {
    border: 0;
}

.entity div .select:checked~.plans::after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: url('https://api.iconify.design/mdi/tick.svg?color=white&width=15&height=15');
    background-color: black;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 6px 5px 2.5px;

}

.entity div h2 {
    font-size: 1.125rem;
    margin-bottom: 0;
}

#fullDate {
    text-align: center;
}

.scheduleDate {
    display: flex;
    justify-content: space-evenly;
}


#passwordForRegistration {
    display: none;
    flex-direction: column;
}

.registerMe {
    display: flex;
    align-items: center;
}

.registerMe input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.registerMe label {
    margin-left: 2.5px;
    font-size: 1.5vw;
}

#fill-form form p {
    margin: 1%;
    font-size: 1rem;
}

#fill-form form button {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    outline: 0;
    padding: 2.5% 0;
    cursor: pointer;
}

section#form-summary {
    width: 47%;
    height: 95%;
    border-radius: 15px;
    background-image: url('../img/form-summary-pic.svg');
    background-position: top center;
    background-size: 90%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.card {
    width: 95%;
    height: 90%;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(3, 95, 143, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

div#preview {
    transition: all 200ms linear;
}

#form-summary .planPaidDetails {
    width: 200px;
    aspect-ratio: 3/1.25;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    opacity: 0;
    transition: opacity 200ms linear;
}

.planPaidDetails .icon {
    width: 60px;
    height: 60px;
    border-radius: 6.25px;
    background-color: chocolate;
}

.planPaidDetails .text {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.text h3 {
    margin: 3px 0;
    font-weight: 500;
}

#planPaid {
    color: gray;
}

div#action_buttons{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* bottom: 8px; */
}

div#action_buttons button{
    padding: 2% 5%;
    border: 1.5px solid rgba(3, 95, 143, 0.5);
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    transition: all 400ms ease;
}

div#action_buttons button:hover{
    background-color: var(--primary);
    color: var(--text);
}

div#action_buttons button#back:active span,
div#action_buttons button#back:focus span{
    text-decoration: underline;
}

#payment {
    width: 100%;
    text-align: center;
    height: 86vh;
}

#payment main {
    width: -webkit-fill-available;
    margin-top: 0;
    /* overriding main styling above */
    padding: 10px;
}

#payment main h2 {
    font-size: 1.25em;
    margin-bottom: 10px;
    text-align: center;
}

#payment main ul {
    margin-top: 0;
}

#payment main ul li {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

#payment main fieldset {
    width: 80%;
    margin: 0 auto;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#payment main fieldset legend {
    padding-inline: 10px;
}

section:is(:not(.page-active)) {
    display: none !important;
}

.page-active {
    display: flex;
    margin-top: 2vh;
}

#registrationSuccess {
    width: 30%;
    height: 50%;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10vh;
    background-color: white;
    color: green;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registrationSuccess h1 {
    font-size: 150%;
    margin: 0;
}

#registrationSuccess i {
    font-size: 5em;
    margin-top: 2.5%;
}