@media (max-width : 600px){
    *{
        margin: 0;
        padding: 0;
    }
    .fill-form{
        padding: 0;
    }
    .fill-form #form-summary{
        display: none;
    }
    .fill-form form{
        width: 100%;
    }
    .registerMe label{
        font-size: 3.25vw;
    }
}